# Set Up

In [26]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [27]:
# Import SparkSession from pyspark.sql
from pyspark.sql import SparkSession

# Import functions from pyspark.sql.functions
from pyspark.sql.functions import *

# For using window functions for aggregations or rankings
from pyspark.sql.window import Window

# For using data types when defining schemas or manipulating columns
from pyspark.sql.types import *

# Create a SparkSession, which is the entry point to programming Spark with the Dataset and DataFrame API
spark = SparkSession.builder \
    .appName("Data Cleaning with PySpark") \
    .getOrCreate()

In [28]:
# Load dataset
df = spark.read.csv('kickstarter_data.csv', header=True, inferSchema=True)

# First 5 rows of the dataframe
df.show(5)

+---+----------+--------------------+--------------+-------------+--------+----------+-------+-------------------+-------+--------+-------+-------+-----------+----------------+-------------+
|_c0|        ID|                name|      category|main_category|currency|  deadline|   goal|           launched|pledged|   state|backers|country|usd pledged|usd_pledged_real|usd_goal_real|
+---+----------+--------------------+--------------+-------------+--------+----------+-------+-------------------+-------+--------+-------+-------+-----------+----------------+-------------+
|  0|1000002330|The Songs of Adel...|        Poetry|   Publishing|     GBP|2015-10-09| 1000.0|2015-08-11 12:12:28|    0.0|  failed|      0|     GB|        0.0|             0.0|      1533.95|
|  1|1000003930|Greeting From Ear...|Narrative Film| Film & Video|     USD|2017-11-01|30000.0|2017-09-02 04:43:57| 2421.0|  failed|     15|     US|      100.0|          2421.0|      30000.0|
|  2|1000004038|      Where is Hank?|Narrative Film| Film & Video|     USD|2013-02-26|45000.0|2013-01-12 00:20:50|  220.0|  failed|      3|     US|      220.0|           220.0|      45000.0|
|  3|1000007540|ToshiCapital Reko...|         Music|        Music|     USD|2012-04-16| 5000.0|2012-03-17 03:24:11|    1.0|  failed|      1|     US|        1.0|             1.0|       5000.0|
|  4|1000011046|Community Film Pr...|  Film & Video| Film & Video|     USD|2015-08-29|19500.0|2015-07-04 08:35:03| 1283.0|canceled|     14|     US|     1283.0|          1283.0|      19500.0|
+---+----------+--------------------+--------------+-------------+--------+----------+-------+-------------------+-------+--------+-------+-------+-----------+----------------+-------------+
only showing top 5 rows

**ANNOTATION**

Dataframe Columns:
    - `goal`: Goal set at the launched time.

    - `pledge`: Total amount of funding the project successfully called.

    - `backers`: Number of investors that fund the project.

    - `usd pledged`: conversion in US dollars of the pledged column (conversion done by kickstarter).

    - `usd_pledge_real`: conversion in US dollars of the pledged column (conversion from Fixer.io API).

    - `usd_goal_real`: conversion in US dollars of the goal column (conversion from Fixer.io API).

The dataset is acquired from Kaggle.com. You can visit it here: https://www.kaggle.com/kemical/kickstarter-projects

# A. OVERVIEW AND CLEAN

## **A.1** - Remove unwanted observations

### Question 1

We have many columns for the pledge and goal with different conversions.

For this analysis, we choose to keep only `usd_pledged_real` and `usd_goal_real`.

Write one line of code to drop the columns `goal`, `pledged`, `usd pledged`.

In [29]:
df = df.drop('goal', 'pledged', 'usd pledged')

In [30]:
df.show()

+---+----------+--------------------+--------------+-------------+--------+----------+-------------------+----------+-------+-------+----------------+-------------+
|_c0|        ID|                name|      category|main_category|currency|  deadline|           launched|     state|backers|country|usd_pledged_real|usd_goal_real|
+---+----------+--------------------+--------------+-------------+--------+----------+-------------------+----------+-------+-------+----------------+-------------+
|  0|1000002330|The Songs of Adel...|        Poetry|   Publishing|     GBP|2015-10-09|2015-08-11 12:12:28|    failed|      0|     GB|             0.0|      1533.95|
|  1|1000003930|Greeting From Ear...|Narrative Film| Film & Video|     USD|2017-11-01|2017-09-02 04:43:57|    failed|     15|     US|          2421.0|      30000.0|
|  2|1000004038|      Where is Hank?|Narrative Film| Film & Video|     USD|2013-02-26|2013-01-12 00:20:50|    failed|      3|     US|           220.0|      45000.0|
|  3|1000007540|ToshiCapital Reko...|         Music|        Music|     USD|2012-04-16|2012-03-17 03:24:11|    failed|      1|     US|             1.0|       5000.0|
|  4|1000011046|Community Film Pr...|  Film & Video| Film & Video|     USD|2015-08-29|2015-07-04 08:35:03|  canceled|     14|     US|          1283.0|      19500.0|
|  5|1000014025|Monarch Espresso Bar|   Restaurants|         Food|     USD|2016-04-01|2016-02-26 13:38:27|successful|    224|     US|         52375.0|      50000.0|
|  6|1000023410|Support Solar Roa...|          Food|         Food|     USD|2014-12-21|2014-12-01 18:30:44|successful|     16|     US|          1205.0|       1000.0|
|  7|1000030581|Chaser Strips. Ou...|        Drinks|         Food|     USD|2016-03-17|2016-02-01 20:05:12|    failed|     40|     US|           453.0|      25000.0|
|  8|1000034518|SPIN - Premium Re...|Product Design|       Design|     USD|2014-05-29|2014-04-24 18:14:43|  canceled|     58|     US|          8233.0|     125000.0|
|  9| 100004195|STUDIO IN THE SKY...|   Documentary| Film & Video|     USD|2014-08-10|2014-07-11 21:55:48|  canceled|     43|     US|         6240.57|      65000.0|
| 10| 100004721| Of Jesus and Madmen|    Nonfiction|   Publishing|     CAD|2013-10-09|2013-09-09 18:19:37|    failed|      0|     CA|             0.0|      2406.39|
| 11| 100005484|    Lisa Lim New CD!|    Indie Rock|        Music|     USD|2013-04-08|2013-03-09 06:42:58|successful|    100|     US|         12700.0|      12500.0|
| 12|1000055792|  The Cottage Market|        Crafts|       Crafts|     USD|2014-10-02|2014-09-02 17:11:50|    failed|      0|     US|             0.0|       5000.0|
| 13|1000056157|G-Spot Place for ...|         Games|        Games|     USD|2016-03-25|2016-02-09 23:01:12|    failed|      0|     US|             0.0|     200000.0|
| 14|1000057089|Tombstone: Old We...|Tabletop Games|        Games|     GBP|2017-05-03|2017-04-05 19:44:18|successful|    761|     GB|       121857.33|      6469.73|
| 15|1000064368|      Survival Rings|        Design|       Design|     USD|2015-02-28|2015-01-29 02:10:53|    failed|     11|     US|           664.0|       2500.0|
| 16|1000064918|           The Beard|   Comic Books|       Comics|     USD|2014-11-08|2014-10-09 22:27:52|    failed|     16|     US|           395.0|       1500.0|
| 17|1000068480|Notes From London...|     Art Books|   Publishing|     USD|2015-05-10|2015-04-10 21:20:54|    failed|     20|     US|           789.0|       3000.0|
| 18|1000070642|Mike Corey's Dark...|         Music|        Music|     USD|2012-08-17|2012-08-02 14:11:32|successful|      7|     US|           250.0|        250.0|
| 19|1000071625|            Boco Tea|          Food|         Food|     USD|2012-06-02|2012-05-03 17:24:32|    failed|     40|     US|          1781.0|       5000.0|
+---+----------+--------------------+--------------+-------------+--------+----------+-------------------+----------+-------+-------+----------------+-------------+
only showing top 20 rows

### Question 2

For future convenience, let's rename the columns as follows:

- `usd_pledged_real` --> `pledged`
- `usd_goal_real` --> `goal`

Write your code to do that below.

In [31]:
df = df.withColumnRenamed('usd_pledged_real', 'pledged')
df.show()

+---+----------+--------------------+--------------+-------------+--------+----------+-------------------+----------+-------+-------+---------+-------------+
|_c0|        ID|                name|      category|main_category|currency|  deadline|           launched|     state|backers|country|  pledged|usd_goal_real|
+---+----------+--------------------+--------------+-------------+--------+----------+-------------------+----------+-------+-------+---------+-------------+
|  0|1000002330|The Songs of Adel...|        Poetry|   Publishing|     GBP|2015-10-09|2015-08-11 12:12:28|    failed|      0|     GB|      0.0|      1533.95|
|  1|1000003930|Greeting From Ear...|Narrative Film| Film & Video|     USD|2017-11-01|2017-09-02 04:43:57|    failed|     15|     US|   2421.0|      30000.0|
|  2|1000004038|      Where is Hank?|Narrative Film| Film & Video|     USD|2013-02-26|2013-01-12 00:20:50|    failed|      3|     US|    220.0|      45000.0|
|  3|1000007540|ToshiCapital Reko...|         Music|        Music|     USD|2012-04-16|2012-03-17 03:24:11|    failed|      1|     US|      1.0|       5000.0|
|  4|1000011046|Community Film Pr...|  Film & Video| Film & Video|     USD|2015-08-29|2015-07-04 08:35:03|  canceled|     14|     US|   1283.0|      19500.0|
|  5|1000014025|Monarch Espresso Bar|   Restaurants|         Food|     USD|2016-04-01|2016-02-26 13:38:27|successful|    224|     US|  52375.0|      50000.0|
|  6|1000023410|Support Solar Roa...|          Food|         Food|     USD|2014-12-21|2014-12-01 18:30:44|successful|     16|     US|   1205.0|       1000.0|
|  7|1000030581|Chaser Strips. Ou...|        Drinks|         Food|     USD|2016-03-17|2016-02-01 20:05:12|    failed|     40|     US|    453.0|      25000.0|
|  8|1000034518|SPIN - Premium Re...|Product Design|       Design|     USD|2014-05-29|2014-04-24 18:14:43|  canceled|     58|     US|   8233.0|     125000.0|
|  9| 100004195|STUDIO IN THE SKY...|   Documentary| Film & Video|     USD|2014-08-10|2014-07-11 21:55:48|  canceled|     43|     US|  6240.57|      65000.0|
| 10| 100004721| Of Jesus and Madmen|    Nonfiction|   Publishing|     CAD|2013-10-09|2013-09-09 18:19:37|    failed|      0|     CA|      0.0|      2406.39|
| 11| 100005484|    Lisa Lim New CD!|    Indie Rock|        Music|     USD|2013-04-08|2013-03-09 06:42:58|successful|    100|     US|  12700.0|      12500.0|
| 12|1000055792|  The Cottage Market|        Crafts|       Crafts|     USD|2014-10-02|2014-09-02 17:11:50|    failed|      0|     US|      0.0|       5000.0|
| 13|1000056157|G-Spot Place for ...|         Games|        Games|     USD|2016-03-25|2016-02-09 23:01:12|    failed|      0|     US|      0.0|     200000.0|
| 14|1000057089|Tombstone: Old We...|Tabletop Games|        Games|     GBP|2017-05-03|2017-04-05 19:44:18|successful|    761|     GB|121857.33|      6469.73|
| 15|1000064368|      Survival Rings|        Design|       Design|     USD|2015-02-28|2015-01-29 02:10:53|    failed|     11|     US|    664.0|       2500.0|
| 16|1000064918|           The Beard|   Comic Books|       Comics|     USD|2014-11-08|2014-10-09 22:27:52|    failed|     16|     US|    395.0|       1500.0|
| 17|1000068480|Notes From London...|     Art Books|   Publishing|     USD|2015-05-10|2015-04-10 21:20:54|    failed|     20|     US|    789.0|       3000.0|
| 18|1000070642|Mike Corey's Dark...|         Music|        Music|     USD|2012-08-17|2012-08-02 14:11:32|successful|      7|     US|    250.0|        250.0|
| 19|1000071625|            Boco Tea|          Food|         Food|     USD|2012-06-02|2012-05-03 17:24:32|    failed|     40|     US|   1781.0|       5000.0|
+---+----------+--------------------+--------------+-------------+--------+----------+-------------------+----------+-------+-------+---------+-------------+
only showing top 20 rows

In [32]:
df = df.withColumnRenamed('usd_goal_real', 'goal')
df.show()

+---+----------+--------------------+--------------+-------------+--------+----------+-------------------+----------+-------+-------+---------+--------+
|_c0|        ID|                name|      category|main_category|currency|  deadline|           launched|     state|backers|country|  pledged|    goal|
+---+----------+--------------------+--------------+-------------+--------+----------+-------------------+----------+-------+-------+---------+--------+
|  0|1000002330|The Songs of Adel...|        Poetry|   Publishing|     GBP|2015-10-09|2015-08-11 12:12:28|    failed|      0|     GB|      0.0| 1533.95|
|  1|1000003930|Greeting From Ear...|Narrative Film| Film & Video|     USD|2017-11-01|2017-09-02 04:43:57|    failed|     15|     US|   2421.0| 30000.0|
|  2|1000004038|      Where is Hank?|Narrative Film| Film & Video|     USD|2013-02-26|2013-01-12 00:20:50|    failed|      3|     US|    220.0| 45000.0|
|  3|1000007540|ToshiCapital Reko...|         Music|        Music|     USD|2012-04-16|2012-03-17 03:24:11|    failed|      1|     US|      1.0|  5000.0|
|  4|1000011046|Community Film Pr...|  Film & Video| Film & Video|     USD|2015-08-29|2015-07-04 08:35:03|  canceled|     14|     US|   1283.0| 19500.0|
|  5|1000014025|Monarch Espresso Bar|   Restaurants|         Food|     USD|2016-04-01|2016-02-26 13:38:27|successful|    224|     US|  52375.0| 50000.0|
|  6|1000023410|Support Solar Roa...|          Food|         Food|     USD|2014-12-21|2014-12-01 18:30:44|successful|     16|     US|   1205.0|  1000.0|
|  7|1000030581|Chaser Strips. Ou...|        Drinks|         Food|     USD|2016-03-17|2016-02-01 20:05:12|    failed|     40|     US|    453.0| 25000.0|
|  8|1000034518|SPIN - Premium Re...|Product Design|       Design|     USD|2014-05-29|2014-04-24 18:14:43|  canceled|     58|     US|   8233.0|125000.0|
|  9| 100004195|STUDIO IN THE SKY...|   Documentary| Film & Video|     USD|2014-08-10|2014-07-11 21:55:48|  canceled|     43|     US|  6240.57| 65000.0|
| 10| 100004721| Of Jesus and Madmen|    Nonfiction|   Publishing|     CAD|2013-10-09|2013-09-09 18:19:37|    failed|      0|     CA|      0.0| 2406.39|
| 11| 100005484|    Lisa Lim New CD!|    Indie Rock|        Music|     USD|2013-04-08|2013-03-09 06:42:58|successful|    100|     US|  12700.0| 12500.0|
| 12|1000055792|  The Cottage Market|        Crafts|       Crafts|     USD|2014-10-02|2014-09-02 17:11:50|    failed|      0|     US|      0.0|  5000.0|
| 13|1000056157|G-Spot Place for ...|         Games|        Games|     USD|2016-03-25|2016-02-09 23:01:12|    failed|      0|     US|      0.0|200000.0|
| 14|1000057089|Tombstone: Old We...|Tabletop Games|        Games|     GBP|2017-05-03|2017-04-05 19:44:18|successful|    761|     GB|121857.33| 6469.73|
| 15|1000064368|      Survival Rings|        Design|       Design|     USD|2015-02-28|2015-01-29 02:10:53|    failed|     11|     US|    664.0|  2500.0|
| 16|1000064918|           The Beard|   Comic Books|       Comics|     USD|2014-11-08|2014-10-09 22:27:52|    failed|     16|     US|    395.0|  1500.0|
| 17|1000068480|Notes From London...|     Art Books|   Publishing|     USD|2015-05-10|2015-04-10 21:20:54|    failed|     20|     US|    789.0|  3000.0|
| 18|1000070642|Mike Corey's Dark...|         Music|        Music|     USD|2012-08-17|2012-08-02 14:11:32|successful|      7|     US|    250.0|   250.0|
| 19|1000071625|            Boco Tea|          Food|         Food|     USD|2012-06-02|2012-05-03 17:24:32|    failed|     40|     US|   1781.0|  5000.0|
+---+----------+--------------------+--------------+-------------+--------+----------+-------------------+----------+-------+-------+---------+--------+
only showing top 20 rows

## **A.2** - Structural Error, Correct Datatype
---

### Question 3

Write one line of code to print the overall information of the dataset. Are there any columns that you feel like they have the wrong datatype?

In [33]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- main_category: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- deadline: string (nullable = true)
 |-- launched: string (nullable = true)
 |-- state: string (nullable = true)
 |-- backers: string (nullable = true)
 |-- country: string (nullable = true)
 |-- pledged: string (nullable = true)
 |-- goal: string (nullable = true)

In [34]:
# Du lieu bi sai dinh dang o cot ()

### Question 4

Convert the `launched` and `deadline` to `datetime` datatype.

In [35]:
df = df.withColumn("launched", to_date(df["launched"]))
df = df.withColumn("deadline", to_date(df["deadline"]))
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- main_category: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- deadline: date (nullable = true)
 |-- launched: date (nullable = true)
 |-- state: string (nullable = true)
 |-- backers: string (nullable = true)
 |-- country: string (nullable = true)
 |-- pledged: string (nullable = true)
 |-- goal: string (nullable = true)

Check info one more time to make sure everything goes as plan.

In [36]:
df = df.withColumn("backers", df["backers"].cast(IntegerType()))
df = df.withColumn("pledged", df["pledged"].cast(IntegerType()))
df = df.withColumn("goal", df["goal"].cast(IntegerType()))
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- main_category: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- deadline: date (nullable = true)
 |-- launched: date (nullable = true)
 |-- state: string (nullable = true)
 |-- backers: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- pledged: integer (nullable = true)
 |-- goal: integer (nullable = true)

## **A.3** - Handling Missing Values
---

### Question 5

Give the number of null values in *each* column.

In [37]:
# Count the number of null values in each column
null_counts = df.agg(*(sum(col(c).isNull().cast("int")).alias(c) for c in df.columns))

# Show the results
null_counts.show()

+---+---+----+--------+-------------+--------+--------+--------+-----+-------+-------+-------+----+
|_c0| ID|name|category|main_category|currency|deadline|launched|state|backers|country|pledged|goal|
+---+---+----+--------+-------------+--------+--------+--------+-----+-------+-------+-------+----+
|  0|  0|   4|       0|            3|       4|    1297|    1114|    5|   1111|      5|    198|  24|
+---+---+----+--------+-------------+--------+--------+--------+-----+-------+-------+-------+----+

### Question 6

Write one line of code to fill all the `NaN` values in name with `Unknown`.

In [38]:
df = df.na.fill('Unknown', subset=['name'])

In [39]:
df.show()

+---+----------+--------------------+--------------+-------------+--------+----------+----------+----------+-------+-------+-------+------+
|_c0|        ID|                name|      category|main_category|currency|  deadline|  launched|     state|backers|country|pledged|  goal|
+---+----------+--------------------+--------------+-------------+--------+----------+----------+----------+-------+-------+-------+------+
|  0|1000002330|The Songs of Adel...|        Poetry|   Publishing|     GBP|2015-10-09|2015-08-11|    failed|      0|     GB|      0|  1533|
|  1|1000003930|Greeting From Ear...|Narrative Film| Film & Video|     USD|2017-11-01|2017-09-02|    failed|     15|     US|   2421| 30000|
|  2|1000004038|      Where is Hank?|Narrative Film| Film & Video|     USD|2013-02-26|2013-01-12|    failed|      3|     US|    220| 45000|
|  3|1000007540|ToshiCapital Reko...|         Music|        Music|     USD|2012-04-16|2012-03-17|    failed|      1|     US|      1|  5000|
|  4|1000011046|Community Film Pr...|  Film & Video| Film & Video|     USD|2015-08-29|2015-07-04|  canceled|     14|     US|   1283| 19500|
|  5|1000014025|Monarch Espresso Bar|   Restaurants|         Food|     USD|2016-04-01|2016-02-26|successful|    224|     US|  52375| 50000|
|  6|1000023410|Support Solar Roa...|          Food|         Food|     USD|2014-12-21|2014-12-01|successful|     16|     US|   1205|  1000|
|  7|1000030581|Chaser Strips. Ou...|        Drinks|         Food|     USD|2016-03-17|2016-02-01|    failed|     40|     US|    453| 25000|
|  8|1000034518|SPIN - Premium Re...|Product Design|       Design|     USD|2014-05-29|2014-04-24|  canceled|     58|     US|   8233|125000|
|  9| 100004195|STUDIO IN THE SKY...|   Documentary| Film & Video|     USD|2014-08-10|2014-07-11|  canceled|     43|     US|   6240| 65000|
| 10| 100004721| Of Jesus and Madmen|    Nonfiction|   Publishing|     CAD|2013-10-09|2013-09-09|    failed|      0|     CA|      0|  2406|
| 11| 100005484|    Lisa Lim New CD!|    Indie Rock|        Music|     USD|2013-04-08|2013-03-09|successful|    100|     US|  12700| 12500|
| 12|1000055792|  The Cottage Market|        Crafts|       Crafts|     USD|2014-10-02|2014-09-02|    failed|      0|     US|      0|  5000|
| 13|1000056157|G-Spot Place for ...|         Games|        Games|     USD|2016-03-25|2016-02-09|    failed|      0|     US|      0|200000|
| 14|1000057089|Tombstone: Old We...|Tabletop Games|        Games|     GBP|2017-05-03|2017-04-05|successful|    761|     GB| 121857|  6469|
| 15|1000064368|      Survival Rings|        Design|       Design|     USD|2015-02-28|2015-01-29|    failed|     11|     US|    664|  2500|
| 16|1000064918|           The Beard|   Comic Books|       Comics|     USD|2014-11-08|2014-10-09|    failed|     16|     US|    395|  1500|
| 17|1000068480|Notes From London...|     Art Books|   Publishing|     USD|2015-05-10|2015-04-10|    failed|     20|     US|    789|  3000|
| 18|1000070642|Mike Corey's Dark...|         Music|        Music|     USD|2012-08-17|2012-08-02|successful|      7|     US|    250|   250|
| 19|1000071625|            Boco Tea|          Food|         Food|     USD|2012-06-02|2012-05-03|    failed|     40|     US|   1781|  5000|
+---+----------+--------------------+--------------+-------------+--------+----------+----------+----------+-------+-------+-------+------+
only showing top 20 rows

## **A.4** - Handling errors, corrupted data
---

Scanning through each column to find abnormalities and fix them. Simple as that.

### Question 7

Let's start with `category`. Write an expression to display the frequency of the value in the column `category`. (The unique values and how many times they appear)

In [40]:
df.groupBy("category").agg(count("*").alias("frequency")).show()

+--------------------+---------+
|            category|frequency|
+--------------------+---------+
|         we create!"|        1|
|   I'm Your Cream"""|        1|
| a sequel to the ...|        1|
| Meadower and Car...|        1|
|     "" said Sydney"|        1|
|  "" World Premiere"|        1|
|  Italy by the Yard"|        1|
| the parody music...|        1|
|                   7|        1|
|             Alcohol|        1|
| an M.F.A. featur...|        1|
|         So Sorry"""|        1|
| Though I Walk"" ...|        1|
| court-métrage fa...|        1|
| Final  Recording...|        1|
| Lust & Straight ...|        1|
| a one man show a...|        1|
| Iran and Turkey/...|        1|
|  there's your quote|        1|
| Promotion & Dist...|        1|
+--------------------+---------+
only showing top 20 rows

### Question 8

Do the same to check abnormalities in the column `country`.

In [41]:
df.groupBy("country").agg(count("*").alias("frequency")).show()

+-------+---------+
|country|frequency|
+-------+---------+
|      7|       24|
|     51|        6|
|     54|        5|
|     15|       13|
|    155|        1|
|     NL|     2865|
|     11|       17|
|    101|        2|
|     69|        4|
|     29|       10|
| 3168.0|        1|
|     42|        7|
|     73|        2|
|     87|        1|
|    468|        1|
|     MX|     1745|
|     64|        5|
|      3|       56|
|     30|        6|
|     34|        7|
+-------+---------+
only showing top 20 rows

### Question 9

Write an expression to select all rows with that weird value above (`N,0"`).

In [48]:
filtered_df = df.filter(df.currency == 'N,0"')
filtered_df.show()

+--------+
|currency|
+--------+
+--------+

### Question 10

Write one line of code to return the ***unique currencies*** of the projects that have country as `N,0"`?

In [57]:
unique_currencies = df.filter(df.currency == 'N,0"').select('currency').distinct().rdd.map(lambda x: x[0]).collect()

### Question 11

Our mission is apply a check function onto each row of the country-N0" part.

First, define a function that takes in a whole data row.

- If currency is `USD` ---> country is `US`
- If currency is `AUD` ---> country is `AU`
- If currency is `CAD` ---> country is `CA`
- If currency is `GBP` ---> country is `GB`
- If currency is `SEK` ---> country is `SE`
- If currency is `DKK` ---> country is `DK`
- If currency is `NZD` ---> country is `NZ`
- If currency is `NOK` ---> country is `NO`
- If currency is `CHF` ---> country is `CH`
- If currency is `EUR` ---> country is `DE`

In the `EUR` case, we choose to replace by the mode --- `DE` (Within projects that in `EUR`, the most are from `DE` -- Germany)

In [44]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Currency to Country Check") \
    .getOrCreate()

data = [("USD",), ("AUD",), ("CAD",), ("GBP",), ("SEK",), ("DKK",), ("NZD",), ("NOK",), ("CHF",), ("EUR",)]
columns = ["currency"]

df = spark.createDataFrame(data, columns)

df_with_country = df.withColumn("country",
    when(df["currency"] == "USD", "US")
    .when(df["currency"] == "AUD", "AU")
    .when(df["currency"] == "CAD", "CA")
    .when(df["currency"] == "GBP", "GB")
    .when(df["currency"] == "SEK", "SE")
    .when(df["currency"] == "DKK", "DK")
    .when(df["currency"] == "NZD", "NZ")
    .when(df["currency"] == "NOK", "NO")
    .when(df["currency"] == "CHF", "CH")
    .otherwise("DE")
)

df_with_country.show()

+--------+-------+
|currency|country|
+--------+-------+
|     USD|     US|
|     AUD|     AU|
|     CAD|     CA|
|     GBP|     GB|
|     SEK|     SE|
|     DKK|     DK|
|     NZD|     NZ|
|     NOK|     NO|
|     CHF|     CH|
|     EUR|     DE|
+--------+-------+

### Question 12

Save result using .write.parquet()

In [45]:
df_with_country.write.parquet("output.parquet")